/* general page styles */
body {
	margin: 1em 2em 2em 2em;
	padding: 2em 2em 2em 2em;
	font-family: sans-serif;
	font-size: 1em;
	background-color: #ffd;
}
h2 {
	font-weight: normal;
	color: #555;
	margin-left: 0.5em; 
}
ul {
	line-height: 2;
}
.debug {
	margin-top: 0.5em;
	margin-left: 1em;
	font-size: 0.7em;
	color: #aaa;
}
br.clear {
	clear: both;
}