body{
	font-family: sans-serif;
}

h2 {
	font-size: 120%;
	margin: 0.25em;
	font-weight: normal;
}

div.time_block {
	padding:0.25em;
	/*font-size: 75%;*/
	font-family:monospace;
}

span.data {
	width:20%;
	font-family:monospace;
	/*font-size: 125%;*/
}

div.scheduled {
	background-color:#dca;
}

div.available{
	background-color:#8f6;
}

br.clear {
	clear:both;
}

a.schedule{
	margin:1em;
}

a.modify{
	margin:1em;
}

a.deactivate{
	margin:1em;
}

span.id{
	margin:1em;
}

span.key{
	margin:1em;
}

form select, form input, form div {
	display: inline;
}

span.new_computer{
	background-color:#ff4;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}

span.new_key{
	background-color:#ff4;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}
