body{
	font-family: sans-serif;
}

div.time_block {
	padding:0.5em;
}

div.scheduled {
	background-color:#faa;
}

div.available{
	background-color:#afa;
}

br.clear {
	clear:both;
}

a.schedule{
	margin:1em;
}

a.modify{
	margin:1em;
}

a.deactivate{
	margin:1em;
}

span.id{
	margin:1em;
}

span.key{
	margin:1em;
}

form select, form input, form div {
	display: inline;
}

span.new_computer{
	background-color:#ffa;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}

span.new_key{
	background-color:#ffa;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}
