body{
	font-family: sans-serif;
}

h1 {}

h2 {
	font-size: 120%;
	margin: 0.25em;
	font-weight: normal;
}

h3 {
	font-size: 115%;
	margin: 0.25em;
	font-weight: normal;
}

div.current_time{}

div.reload{}

div.messages{}

span.success {}

span.error {
	background-color:#faa;
	font-weight:bold;
}

div.schedule {
	margin-top: 1em;
}

div.time_block {
	padding:0.25em;
	/*font-size: 75%;*/
	font-family:monospace;
}

span.data {
	width:20%;
	font-family:monospace;
	/*font-size: 125%;*/
}

div.scheduled {
	background-color:#D6D6C9; /* dca */
}

div.available{
	background-color:#9f8;
}

br.clear {
	clear:both;
}

a.schedule{
	margin:1em;
}

a.extend{
	margin:1em;
}

a.deactivate{
	margin:1em;
}

span.id{
	margin:1em;
}

span.key{
	margin:1em;
}

form {
	padding: 1em;
	margin-bottom: 2em;
	background-color:#bfa;
}

form select, form input, form div {
	display: inline;
}

span.new_computer, span.deactivated_computer, span.extended_computer{
	background-color:#ff4;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}

span.new_key, span.deactivated_key, span.extended_key{
	background-color:#ff4;
	font-weight:bold;
	font-family:monospace;
	font-size:150%;
}
